<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-webview-checker" version="1.0.1">
<name>Android Prerequisites Checker</name>
<description>Checks whether CORDOVA prerequisites are confirmed.</description>
<license>MIT</license>
<author>INFROMATION GATES LTD</author>
<keywords>android,system,webview,prerequisites,checker</keywords>
<js-module src="www/prerequisites-checker.js" name="prerequisitesChecker">
  <clobbers target="plugins.prerequisitesChecker" />
</js-module>
<platform name="android">
  <config-file target="config.xml" parent="/*">
      <feature name="PreRequisitesChecker">
          <param name="android-package" value="com.igates.cordova.PreRequisitesChecker.PreRequisitesChecker"/>
      </feature>
  </config-file>
  <source-file src="src/android/PreRequisitesChecker.java" target-dir="src/com/igates/cordova/plugin" />
</platform>
</plugin>